<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277590345714-g05j5hn2578d9p8ndsiv9ii6m7cj5q00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277590345714-g05j5hn2578d9p8ndsiv9ii6m7cj5q00</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277590345714-icdv1lfkchsvj423pirnfatmcc9nts08.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_e7zWrg0sHJ3EIOLiwfpeaEcxigYdjww</string>
	<key>GCM_SENDER_ID</key>
	<string>277590345714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servisgo.partner</string>
	<key>PROJECT_ID</key>
	<string>servisgo-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>servisgo-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277590345714:ios:49c7e0770e5739cdfc8d6b</string>
</dict>
</plist>